.Converter {
    width: 100%;
    padding: 0 15%;
    box-sizing: border-box;
    text-align: center;
}

h2{
  text-align: center
}
label{
    color:#FFF;
    font-weight:bold
}
.Form {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.Form input, select {
    padding: 5px;
    margin: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(119, 119, 119, 0.5);
    outline: none
}

.Form button {
    padding: 5px 10px;
    border-radius: 5px;
    background: #F9B707;
    color: white;
    border: none;
    font-weight: bold;
    outline: none;
    margin-left: 30px;
}

h2 {
    border-radius: 10px;
    padding: 15px;
    font-size: 30px;
    color: #FFF;
    margin-bottom: 60px;
    font-weight: bold
}
h2 span:last-of-type{
  color: #F9B707;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
